/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.custom_searchHeader i:hover{
	cursor: pointer;
}
.fl-slide.fl-slide-0 .fl-slide-photo-wrap{
	width: auto;
}	

footer .storename .address a p{
    margin: 0px!important;
    padding: 0px!important;
}
footer .storename {
    margin: 0px!important;
    padding: 0px!important;
}
footer .uabb-text-editor p{
    margin: 0px!important;
    padding: 0px!important;
}
footer .store-opening-hrs{
    margin: 0px!important;
    padding: 0px!important;
    list-style: none!important;
}
footer .store-opening-hrs li{
    position: relative;
}
footer .store-opening-hrs li span{
    position: absolute;
    left: 150px;
}

    header .uabb-text-editor > p, header .storename{
        margin: 0px!important;
        padding: 0px!important;
    }

.brandSlider .uabb-module-content .slick-prev{
	    left: 0px!important;
}	
.brandSlider .uabb-module-content .slick-next{
	 right: 0px!important;
}
.fl-slide.fl-slide-0 .fl-slide-text> p:first-child{
	display: none!important;
}
.location_tabs .fl-tabs-labels {
       display: flex!important;
      
}
.location_tabs .fl-tabs-labels a{
  flex: 1 1 auto;
   text-align: center;   
}
.fl-slide .fl-slide-text > p{
	display: none!important;
	margin: 0px!important;
}
.location_tabs .fl-tabs-labels a:not(.fl-tab-active){
  background-color: #ededed!important;  
}
.modula{
	height: auto;
}
html body .modula .modula-items{
	height: auto;
}
.fl-tabs-panel-content {
    display: block !important;
    height: 0;
overflow: hidden;
    padding: 0;
/*     visibility: hidden;
    opacity: 0; */
}
.fl-tabs-panel-content.fl-tab-active {
    display: block;
    height: auto;

/*     visibility: visible;
    opacity: 1; */
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: auto;
    padding: 5px 20px;
	max-width: 600px!important;
	width: 100%!important;
}
header svg.hamburger-menu {
    background: url(/wp-content/uploads/2020/12/hamburgerMenue.png);
    background-size: cover;
    font-size: 55px;
	color: transparent;
}
.hamburger{
	outline: none!important;
    border: none!important;
}
.gfield .ginput_container_time input[type=text]{
	padding: 0px 4px!important;
}
.gfield .ginput_container_time.gfield_time_ampm, .gfield .ginput_container_time.gfield_time_ampm > select{
	min-width: 70px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.uabb-module-content .slick-prev{
	left: 30px!important;
}
.uabb-module-content .slick-next{
	right: 30px!important;
}
/* .uabb-module-content .slick-list, .uabb-module-content .slick-track{
	    height: 400px!important;
} */
	.gfield{
	padding-right: 15px!important;
}
 .product-box .button-wrapper > a:hover, .button-wrapper-default > a:hover{
  	background-color: #000!important;
  	color: #fff!important;	
  }
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	margin-top: 0px!important;
}
.gform_wrapper .gfield_time_hour i {
    margin-top: 0px!important;
}
footer .storename .phone a span:before,  header .storename .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	color: #fff;
    margin-right: 5px!important;
}

@media(max-width: 1024px) and (min-width: 768.5px) {
.tabZero .fl-col-content {
	    padding: 0px 20px!important;
}
.featureOption  .uabb-ib-effect-style1 .uabb-new-ib-desc {
 
    height: 150px;
}
.sliderHeight .uabb-image-carousel-content{
	height: 100%;
}

.sliderHeight .uabb-image-carousel-content a{
	height: 100%;
}
.sliderHeight .uabb-image-carousel-content a img{
	height: 100%!important;
}	
}
@media(min-width: 768px){

footer .uabb-text-editor h3{
    margin-top: 20px!important;
    padding: 0px!important;
}

footer .store-opening-hrs li span {
    left: auto!important;
    right: 0!important;
}
}
@media(max-width: 1024px){


.appliances .uabb-infobox-title{
	font-size: 16px!important;
}
	.featureOption h3{
    font-size: 26px!important;
}
.featureNewOption h3 {
    font-size: 20px!important;
}
.featureNewOption .uabb-ib-effect-style1 .uabb-new-ib-content {
    min-height: 82px;
}
.featureNewOptionHover .uabb-ib-effect-style1 .uabb-new-ib-content {
    min-height: 52px;
}
}

@media(max-width: 992px){
.hamBurMenu{
	display: flex!important;
}
}
@media(max-width: 768px){
.bulletPoint li{
    display: inline-block;
    width: 100%;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text *:not(p){
    font-size: 35px!important;
}
 .fl-slide-content{
 	padding: 0px!important;
 }
	.gform_footer{
		padding-right: 15px!important;
	}
.storename .direction{
	text-align: center!important;
}
.Headerlogo img{
	max-height: 80px;
    text-align: left;
}
.Headerlogo .uabb-module-content{
    text-align: left!important;
}	
.store-opening-hrs{
	padding-left: 20px;
}
.store-opening-hrs li{
	position: relative;
	text-align: left!important;
}

.fl-tabs-panel .fl-tabs-label, .fl-tabs-panel .fl-tabs-label.fl-tab-active{
	    background-color: #f4f4f4!important;
}
.store-opening-hrs li span{
	position: absolute;
	left: auto;
	right: 0;
}
.location_tabs .fl-tabs-labels {
       display: none!important;
}
.max-width-issuenin{
	max-width: 394px!important;
	margin: 0 auto!important;
	overflow: hidden;
}
	.max-width-issue{
	max-width: 360px!important;
	width: 100%!important;
	margin: 0 auto!important;
	overflow: hidden;
	}
.max-width-issuenin img{
	min-height: 365px!important;
    max-width: none!important;
    width: auto!important;
    height: 100%!important;
margin-left: -180px;
}  
.max-width-issuenin .uabb-module-content{
	min-height: 356px!important;
}  

footer .uabb-text-editor h3{
    margin-top: 20px!important;
    padding: 0px!important;
}

footer .store-opening-hrs li span {
    left: auto!important;
    right: 0!important;
}
	/* Slider height issue on mobile */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	

}
@media(max-width: 767px){
	.search-row{
		padding: 0px 20px!important;
	}
.contentMarginZe .fl-module-content{
	margin: 0px!important;
}	
}